html,body {
    background-color: #979797;
    margin: 0;
    padding: 0;
}


.card {
    background-color: #d4d4d4;
    border: 4px solid #000000;
    border-radius: 15px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    width: 80%;
    display: flex;
    align-items: center;
}
.card:hover{
    opacity: 0.5;
    
}

.card img {
    border-radius: 0px;
    width: 60px;
    height: 60px;
    margin: 8px;
    
}
.card img#perfil {
    border-radius: 50%;
    border:  4px solid #000;
}

.text {
    
    margin: auto;
    width: 250px;
    text-align: center;
}

.text b {
    font-size: 20px;
    display: block;
}

.text p,a {
    font-size: 12px;
    display: block;
    margin: 0;
}
